:root {
  --light-gray: #e9e9ea;
  --gray: #777;
  --dark-gray: #444;
  --very-dark-gray: #222;
  --light-sea-blue: #53a3ff;
  --sea-blue: #316fd3;
  --dark-sea-blue: #2655b9;
  --sand-yellow: #f5ef8f;
  --dark-sand-yellow: #dfd477;
}
