.dark body {
  /*background-color: var(--dark-sea-blue);*/
  color: var(--light-gray);
  background-image: linear-gradient(
    140deg,
    var(--dark-sea-blue) 0%,
    var(--dark-sea-blue) 36%,
    var(--sea-blue) 36%,
    var(--sea-blue) 50%,
    var(--dark-sea-blue) 50%,
    var(--dark-sea-blue) 100%
  );
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark strong,
.dark b,
.dark a {
  color: white;
}
.dark nav {
  box-shadow: 0px 0px 20px 5px var(--light-sea-blue);
  background-image: linear-gradient(
    135deg,
    var(--sand-yellow) 0%,
    var(--sand-yellow) 70%,
    var(--dark-sand-yellow) 70%,
    var(--dark-sand-yellow) 100%
  );
}
.dark nav a {
  color: var(--very-dark-gray);
}
.dark footer * {
  color: white;
}
