body {
  margin: auto;
  padding: 20px;
  max-width: 65ch;
}
main {
  min-height: 90vh;
}
textarea {
  width: 100%;
}
input {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  padding-left: 8px;
}
table {
  width: 100%;
}
blockquote {
  border-width: 0px;
  border-left-width: 2px;
  padding: 1px 0px 1px 10px;
  margin: 0px;
}
blockquote p {
  margin: 5px;
}
nav {
  border-radius: 7px;
}
nav a {
  display: inline-block;
  margin: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
footer {
  margin-top: 70px;
  margin-bottom: 50px;
}
.dark footer {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
