:root {
  --mono-basic: 'PingFang SC', 'Hiragino Sans GB', 
    'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  --mono-more: Verdana, var(--mono-basic);

}
time {
  font-style: italic;
}
body {
  font-family: var(--mono-basic);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mono-more);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
textarea {
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
blockquote {
  font-style: italic;
  font-size: 0.98em;
}
nav a {
  font-size: 21px;
  font-weight: bold;
}
footer,
footer * {
  text-align: center;
}
