---
const today = new Date();
---

<footer>
	<p> &copy; {today.getFullYear()} 文字岛撰写人 版权所有 </p>
	<p> &copy; {today.getFullYear()} Wordland Authors. All rights reserved. </p>
</footer>
<style>
	footer, footer * {
		margin-top: 20px;
		padding: 25px;
		text-align: center;
	}
</style>
