---
import HeaderLink from './HeaderLink.astro'
---

<header>
  <nav class="flex items-center p-3px pl-8px pr-8px">
    <HeaderLink href="/">家</HeaderLink>
    <HeaderLink href="/words">文</HeaderLink>
    <HeaderLink href="/authors">作者</HeaderLink>
    <HeaderLink href="/declarations">声明</HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 1.6em;
  }
  img {
    width: 32px;
    height: 32px;
    margin: 5px 10px 5px 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
  }
  span {
    margin: 10px;
    font-weight: bold;
  }
</style>
