---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, title, class: className, ...props } = Astro.props
---

<a
  href={href}
  title={title}
  class="pushable hover:translate-y--2px transition-160"
  class:list={[className]}
  {...props}
>
  <slot />
</a>
