---
import HeaderLink from './HeaderLink.astro'
---

<header>
  <nav class="flex items-center p-3px pl-10px pr-8px">
    <HeaderLink href="/" class="i-tabler-tent" />
    <HeaderLink href="/words" class="i-tabler-notebook" />
    <HeaderLink href="/authors" class="i-tabler-snowman" />
    <HeaderLink href="/declarations" class="i-tabler-scale" />
  </nav>
</header>
<style>
  header {
    margin: 0em 0 1.6em;
  }
</style>
