---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
---

<a href={href} class:list={[className]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    font-size: 23px;
    margin: 6px;
    color: #222;
    font-weight: bold;
  }
</style>
