<div class="mb-40px mt-23px">
  <a
    href="/write"
    class="transition-160 shadow-lg hover:shadow-xl p-6px pl-12px pr-8px text-sea-blue rounded-8px text-1.1em hover:decoration-none inline-flex items-center justify-center"
  >
    投稿
    <span class="i-tabler-chevrons-right transition-160 m-2px"></span>
  </a>
</div>

<style scoped>
a:hover span {
  transform: translate(5px, 0px);
}
</style>
