---
import BasePage from '../../layouts/BasePage.astro'
import ArticleList from '../../components/ArticleList.vue'
import Typer from '../../components/Typer.vue'

const articles = (await Astro.glob('./*.md'))
  .sort((a, b) => (a.frontmatter.pubDate <= b.frontmatter.pubDate ? 1 : -1))
  .map((post) => {
    return {
      title: post.frontmatter.title,
      url: post.url,
      pubDate: post.frontmatter.pubDate,
      author: post.frontmatter.author,
      description: post.frontmatter.description.split(' ')
    }
  })
---

<BasePage
  title="æ–‡ç« åˆ—è¡¨ðŸ“œ"
  description="æˆ‘æ­å»ºæ¢­ç½—çš„å°å±‹ åªæ˜¯é¢æœå¤§æµ·"
  theme="light"
>
  <h1 class="text-2em m-0.25em ml-0 mr-0">æ–‡ç« åˆ—è¡¨ðŸ“œ</h1>
  <Typer sentences="æˆ‘æ­å»ºæ¢­ç½—çš„å°å±‹ åªæ˜¯é¢æœå¤§æµ·" client:idle />
  <ArticleList client:idle articles={articles} />
  <div class="max-w-140px h-2px bg-#222 m-auto mt-70px"></div>
</BasePage>
